html {
    padding: 0;
    margin: 0;
    background-color: #2e2e2e;
}

image {
    border: none;
}

body { 
    padding: 0 75px 0 75px;
    margin: 0;
    font: normal 0.7em "Lucida Grande","Lucida Sans Unicode", sans-serif;
    color: #a0a0a0;
}

div {
    display: block;
    padding: 0;
    margin: 0;
}

input {
    color: #a0a0a0;
    background-color: #2C3737;
    border: none;
    border-bottom: solid 1px black;
    padding: 2px 6px 2px 6px;
}

input:hover {
    background-color: #445A5E;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    color: #eee;
}

td, th {
    text-align: left;
    margin: 0;
    padding: 6px;
    vertical-align: top;
    display: table-cell;
    border: none;
}

.hand {
    cursor: pointer;
}

pre {
    font-family: monospace;
    font-size: 1.2em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.jtable tr .ui-state-hover {
font-weight: normal;
}