html {
    padding: 0;
    margin: 0;
    background-color: #2e2e2e;
}

image {
    border: none;
}

body { 
    padding: 0 75px 0 75px;
    margin: 0;
    font: normal 0.7em "Lucida Grande","Lucida Sans Unicode", sans-serif;
    color: #a0a0a0;
}

@media screen and (max-width: 768px) {
    body {
	padding: 0px;
    }
}

div {
    display: block;
    padding: 0;
    margin: 0;
}

/*
input {
    color: #a0a0a0;
    background-color: #2C3737;
    border: none;
    border-bottom: solid 1px black;
    padding: 2px 6px 2px 6px;
}

input:hover {
    background-color: #445A5E;
}
*/

input, select, textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

textarea,
select,
input[type="text"] {
    padding: 0.25em 0.3em;
    margin: 0.1em 0;
    vertical-align: middle;
    border-radius: 4px;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    color: #eee;
}

td, th {
    text-align: left;
    margin: 0;
    padding: 6px;
    vertical-align: top;
    display: table-cell;
    border: none;
}

tr.rowhighlight a {
  display: block;
  width: 100%;
  height: 100%;
}

table {
        border-spacing: 0px;
	/*border-collapse:collapse;*/
}

table.jtable tr:hover, table.jtable th {
	background: #2b3233 url(images/ui-bg_highlight-hard_20_2b3233_1x100.png) 50% 50% repeat-x;
	color: #ffffff;
}

table.jtable {
	border: 1px solid #555555;
	background: #1e1e1e url(images/ui-bg_flat_25_1e1e1e_40x100.png) 50% 50% repeat-x;
	color: #c5c5c5;
	border-radius: 4px;
}

table.jtable a:visited {
        color: #888;
}

table.noborder {
    margin: 1px;
    border: none;
}

.filterelem {
    padding: 10px;
    vertical-align: top;
    display: inline-block;
}


.hand {
    cursor: pointer;
}

code,
pre {
    font-family: monospace;
    font-size: 9pt;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code {
    white-space: pre;
}

#menubar {
    text-align: justify;
    margin: 10px 0px 10px 0px;
    padding: .5em;
    vertical-align: middle;
}

#menubar div {
    display: inline-block;
}

#menubar:after {
    content: '';
    display: inline-block;
    width: 100%;
}

